<div style="text-align: center">
  <h1>Welcome to gastos!</h1>
  <img
    width="450"
    src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
    alt="Nx - Smart, Extensible Build Framework"
  />
</div>
<div>Message: {{ hello$ | async | json }}</div>
 <login></login> 
 <usuario></usuario>
 
<div style="text-align:center">
  <h1>
    Lazy Loading
  </h1>
  <ul>
    <li><a routerLink="/banco">Banco</a></li>
    <li><a routerLink="/cuenta">Cuenta</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
  
</div>
<evento></evento>
<router-outlet></router-outlet>
